<html>

{% block head %}
<head>

    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}"/>


    {% block stylesheets %}
        <link href="{{ asset('/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('/css/mapview.css') }}" rel="stylesheet" />
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/bootstrap.js') }}" type="text/javascript"></script>
    {% endblock %}

    <title>{% block title %}Myrrh Trader{% endblock %}</title>

{% endblock %}
</head>

<body>
{% block body %}
{% set currentPath = path(app.request.attributes.get('_route')) %}

                <div class="container">
                    <div class="header">
                        <ul class="nav nav-pills pull-right" role="tablist">
                        {%  if currentPath != '/' %}
                            <li role="presentation"><a href="/joingame">Map</a></li>
                            <li role="presentation"><a href="/estate">Estate</a></li>
                            <li role="presentation"><a href="/trade">Trade</a></li>
                            <li role="presentation"><a href="/diplomacy">Diplomacy</a></li>
                        {% endif %}
                        {%  if currentPath == '/' %}
                            <li role="presentation"><a href="/login">Login</a></li>
                            <li role="presentation"><a href="/registration">Sign Up</a></li>
                        {% endif %}
                        </ul>
                        <h3 class="text-muted">Myrrh Trader</h3>
                    </div>

                    <div class="block">
                        {% block content %}

                        {% endblock %}

                        <div class="footer">
                            {% block footer %}
                                <p>&copy; Wilderness 2015</p>
                            {% endblock %}
                        </div>

                    </div> <!-- /container -->

                    {% endblock %}

                    {% javascripts
                    'js/jquery.js'
                    'js/bootstrap.js'
                    'js/mapview.js'
                    'js/ImageResource.js'
                    'js/newsbox.js'
                    'js/descriptionHelper.js'
                    output='js/compiled/app.js' %}
                    <script src="{{ asset_url }}"></script>
                    {% endjavascripts %}
</body>

</html>